# ==========================================
# 🐍 PYTHON & DJANGO ÇEKİRDEK
# ==========================================
*.pyc
*~
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# 🗄️ VERİTABANI & DOSYALAR
# ==========================================
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# ==========================================
# 🔐 GÜVENLİK & ORTAM DEĞİŞKENLERİ
# ==========================================
.env
local_settings.py

# ==========================================
# 📦 SANAL ORTAMLAR (Virtual Environments)
# ==========================================
env311/
env/
venv/
.venv/

# ==========================================
# 💻 İŞLETİM SİSTEMİ & IDE (Mac & VS Code)
# ==========================================
.DS_Store
.vscode/
.idea/