{% extends 'weatherapp/base.html' %} 

{% block content %} 
{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-dark p-4 rounded-4 shadow border border-secondary">

            {% if request.user.is_authenticated %}
                <h3 class="custom-heading-full mb-3">Thanks for registering.</h3>
            {% else %}
                <h2 class="custom-heading-full mb-4">Registration Form</h2>

                <form action="" method="post" enctype="multipart/form-data" class="text-white">
                    {% csrf_token %}
                    {{ form_user | crispy }} 
                    {{ form_profile | crispy }}
                    <button type="submit" class="btn btn-danger w-100 mt-3">Register</button>
                </form>
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock content %}